<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome to the Tennis tracker</h1>
    <p>current game...</p>
    <div id="inject"></div>
    <button onclick="score1()">Score1</button>
    <button onclick="score2()">Score2</button>
    <button onclick="reset()">Reset</button>
  </body>
  <script src="/javascripts/global.js" ></script>
</html>
